/* src/Kanbas/Account/Navigation/index.css */
.wd-account-navigation {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #dc3545;
    border-radius: 4px;
    padding: 10px 0;
    width: 150px;
    margin-right: 20px;

  }
  
  .wd-account-navigation a {
    padding: 10px 20px;
    color:#dc3545;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .wd-account-navigation a:hover {
    background-color: #f8d7da;
  }
  
  .wd-account-navigation a.active {
    background-color:#dc3545;
    color: white;
  }